
 

.basketContainer {
    position: relative;
    cursor: pointer;
    align-self: flex-end;
    width: 40px;
    border-radius: 20px;
    
  }
  
  .basketQuantity {
    background-color:var(--colorText);
    color:#F49B33;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid;
    position: absolute;
    top: -3px;
    right: 2px;
    font-size: 12px;
  }

  .Scaling {
    animation: pumping 300ms ease-out;
  }
  
  @keyframes pumping {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(0.8);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.7);
    }
    100% {
      transform: scale(1);
    }
  }