:root {
    --colorBottom: #F49B33 ;
    --colorText: #5E5E5E  ;
    --backgroundBody: rgba(245, 245, 245, 1) ;
    --backgroundContainer: rgba(255, 255, 255, 1)  ; 
    --backgroundFooter : rgba(43, 43, 43, 1)  ;
    --white : #ffff ;
    --black : black ;
   
   }
   .dark{
       --colorText: #d3d3d3  ;
       --backgroundBody:  rgba(53, 53, 53, 1)  ;
       --backgroundContainer:  rgba(43, 43, 43, 1)   ; 
       --white : black ;
       --black : #ffff ;
   
   }
.formRegister div{
 width: 400px;
 
}
.formRegister{
    margin-top: 30px;
}
.formRegister input ,.formRegister input:focus{
    border-color: transparent transparent var(--colorText) transparent;
    background-color: transparent;
    border-radius: 0px;
    color: var(--black);
}
.formRegister input::placeholder{
    color: var(--colorText) ;
}
.containerRegister{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
img{
    margin-top: 50px;
    border-radius: 20px;
}
h1{
    font-size: 35px;
    letter-spacing: 1px;

}
h4{
    color: var(--colorText);
    font-size: 18px;
    margin-top: 10px;
}
.containerRegister button{
    background-color: var(--colorBottom) ;
    border-color: transparent;
    color: var(--colorText);
    width: 60%;
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;

}
h6{
    color: var(--colorText);
    margin-top: 10px;
}
h6 span{
    color: #F49B33;
    cursor: pointer;
}